*{
    list-style: none;
}
body{
    background-color: khaki;
}
.link{
    text-align: center;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    color: black;
}
h1{
    text-align: center;
    font-size: 40px;
}
.paragraph{
    text-align: center;
    font-size: 18px;
}
#DomBox, #MacunaimaBox,#SitioBox,#GabrielaBox,#IracemaBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
 
}
.pictureDomBox,.picturemacunaima,.picturesitio,.picturegabriela,.pictureiracema{
    height: 19vh;
    width: 14vw;
}

.primebox{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.secondbox,.threebox{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
